@import url("http://fonts.googleapis.com/css?family=Source+Sans+Pro:400|Open+Sans:400|Montserrat:400,700");

@mixin font($f) {

  @if ($f == "source-regular") {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;

  } @else if ($f == "open") {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;

  } @else if ($f == "mont") {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;

  } @else if ($f == "mont-bold") {
  	font-family: 'Montserrat', sans-serif;
  	font-weight: 700;
  }
}