header {
	width: 100%;
	height: 85px;
	position: fixed;
	top: 0;

	h1 {
		text-align: center;
		height: 85px;
		line-height: 85px;
		letter-spacing: -0.8px;
		font-size: 30px;
		@include font("mont-bold");

		span {
			position: relative;
			left: 5px;
			width: 38px;
			height: 21px;
			display: inline-block;
			background: url(../images/zh.svg) no-repeat;
		}
	}
}