@import "../vendor/bourbon/dist/bourbon";
@import "reset";


@import "_fonts";
@import "_header";
@import "_news";



body {
	font-size: 14px;
	-webkit-font-smoothing: antialiased;
	margin-top: 85px;
	width:320px;
	min-height: 500px;
}