@import "../vendor/bourbon/dist/bourbon";
@import "reset";


@import "_fonts";
@import "_header";
@import "_news";



// Temporario
html {
	width: 360px;
	border: 1px solid #CCC;
}
// temporario

body {
	font-size: 14px;
	-webkit-font-smoothing: antialiased;
}