@import "main";

$gremio-color: #2391e6;

body:after {
	content: " ";
	width: 100%;
	position: fixed;
	bottom: 0;
	border-bottom: 4px solid $gremio-color;
}

h1 {
	color: $gremio-color;

	.logo-triangle {
		fill: $gremio-color;
	}
}

#list-news {
	h3 {
		color: $gremio-color;
	}
}