@import "main";

$gremio-color: #2391e6;

body::after {
	content: " ";
	width: 100%;
	position: fixed;
	z-index: 3;
	bottom: 0;
	border-bottom: 2px solid $gremio-color;
}

h1 {
	.logo-triangle {
		fill: $gremio-color;
	}
}

#list-news {
	h3 {
		color: $gremio-color;
	}
}

.component-box.on {
	background-color: $gremio-color;
}