@import "main";

$inter-color: #dd1a31;

body:after {
	content: " ";
	width: 100%;
	position: fixed;
	bottom: 0;
	border-bottom: 4px solid $inter-color;
}

h1 {
	color: $inter-color;
	span {
		background: url(../images/inter/zh-colorado.svg) no-repeat;
	}
}

#list-news {
	h3 {
		color: $inter-color;
	}
}