$RECYCLE.BIN/
*.cab
*.class
*.ear
*.jar
*.log
*.msi
*.msm
*.msp
*.pid
*.seed
*.war
*~
._*
.apdisk
.AppleDB
.AppleDesktop
.AppleDouble
.directory
.DS_Store
.grunt
.lock-wscript
.LSOverride
.mtj.tmp/
.Spotlight-V100
.Trashes
app/css/*
!app/css/main.css
app/js/build.js
app/js/build.min.js
app/vendor
build/
coverage
Desktop.ini
ehthumbs.db
hs_err_pid*
Icon
lib-cov
logs
Network Trash Folder
node_modules
pids
Temporary Items
Thumbs.db
