$RECYCLE.BIN/
*.cab
*.class
*.ear
*.jar
*.log
*.msi
*.msm
*.msp
*.pid
*.seed
*.war
*~
._*
.apdisk
.AppleDB
.AppleDesktop
.AppleDouble
.directory
.DS_Store
.grunt
.lock-wscript
.LSOverride
.mtj.tmp/
.Spotlight-V100
.Trashes
coverage
Desktop.ini
ehthumbs.db
hs_err_pid*
Icon
lib-cov
logs
Network Trash Folder
node_modules
pids
Temporary Items
Thumbs.db

!app/css/main.css
app/vendor
build
